*
{
	margin: 0px;
}
.menu
{
	display: inline-block;
	text-align: center;
	margin-left: 19%;
	font-family: Segoe UI Black;
	text-decoration: none;
	padding-bottom: 2%;
	padding-top: 1%;
	font-size: 200%;
}
header
{
	background-color: black;
}
.menu_
{
	color: white;
	text-decoration: none;
	margin-top: 0px;
}
.menu_:hover
{
	color: #3B6DF0;
	text-decoration: none;
}
h1
{
	font-family: Segoe UI Black, sans-serif;
	margin-left: 1%;
	margin-top: 2%;
	margin-right: 30%;
	padding-bottom: 1%;
	border-bottom: 2px dashed darkred;
}
p
{
	margin-left: 1%;
	margin-top: 1%;
	font-family: sans-serif;
	font-size: 103%;
	color: #2F4B5E;
	line-height: 140%;
}
div:not(.div)
{
	margin-top: 1%;
}
.ul
{
	font-family: sans-serif;
	font-size: 103%;
	font-size: 120%;
	color: #2F4B5E;
	line-height: 140%;
	padding-left: 0.5%;
	list-style-type: disc;
}
.ol
{
	font-family: sans-serif;
	font-size: 103%;
	font-size: 120%;
	color: #2F4B5E;
	line-height: 140%;
	padding-left: 0.5%;
	padding-top: 1%;
	font-weight: bold;
}
#dev
{
	position: absolute;
	top: 65%;
	margin-right: 10%;
	left: 75%;
}
#dev1
{
	position: absolute;
	top: 100%;
	margin-right: 10%;
	left: 77.5%;
}
#dev2
{
	position: absolute;
	top: 150%;
	margin-right: 10%;
	left: 80%;
}
.dev
{
	border-radius: 5%;
	box-shadow: 3px 5px 10px black
}
.dev:hover
{
	-webkit-transform:scale(1.1); /* Safari et Chrome */
	-moz-transform:scale(1.1); /* Firefox */
	-ms-transform:scale(1.1); /* Internet Explorer 9 */
	-o-transform:scale(1.1); /* Opera */
	transform:scale(1.1);	
}
.par
{
	margin-right: 30%;
	font-size: 120%;
	padding-left: 1%;
}
.par:hover
{
	border-left: 3px solid #B9B9B9;
}
.ul:hover
{
	border-left: 3px solid #B9B9B9;
}
#banniere
{
	width: 100%;
	height: auto;
}
a
{
	color: #1781C8;
	text-decoration: none;
	font-weight: bold;
}
a:hover
{
	text-decoration: underline;
}
footer
{
	background-color: #535353;
	text-align: center;
	margin-top: 2.5%;
	padding-bottom: 15px;
	padding-top: 10px;
	font-size: 100%;
}
.footer
{
	color: #BBBBBB;
	padding-bottom: 1%;
	margin-left: 0%;
}
#footer
{
	border-bottom: 2px solid #BBBBBB;
	padding-bottom: 2%;
}
.petit
{
	display: inline;
	font-size: 60%;
	font-family: sans-serif;
	font-weight: 400;
}
.salaire
{
	display: inline;
	color: #1781C8;
}
.l-f
{
	color: #BBBBBB;
	font-size: 125%;
	font-weight: bold;
	margin: 5%;
}
.video
{
	margin: 2%;
	border-radius: 10px;
}
.bas
{
	padding-bottom: 10%;
}